body, div, td, p, li { 
    line-height: normal; 
} 

h2 a { text-decoration:none; color:none; } 

img.leftenm { margin: 2px 10px 10px 0; float:left; border:1px solid #000; } 
img.rightenm { margin: 2px 0 10px 10px; float:right; border:1px solid #000; } 
img.centerenm { display:block; margin: 0 auto 10px auto; text-align: center; border:1px solid #000; } 
img.left { margin: 2px 10px 10px 0; float:left; } 
img.right { margin: 2px 0 10px 10px; float:right; } 
img.center { display:block; margin: 0 auto 10px auto; text-align: center; } 

a img { border:0; }

img.comentgravatar { float:right; }


a.botonrss { border-style: solid; 	border-color: rgb(255, 204, 204) rgb(153, 0, 0) rgb(153, 0, 0) rgb(255, 204, 204); 	border-width: 1px; 	padding: 1px 3px 1px 3px; 	background: rgb(255, 102, 51) none repeat scroll 0%; 	color: rgb(255, 255, 255); -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; 	text-decoration: none; 	font-size: x-small; 	font-weight: bold !important; 	color:#fff !important; }

ul,li { margin: 0; padding: 0; list-style-position: inside}

.infoadicional { margin:12px 0 12px 0; }


div#pieblogia { background-color:#ccc !important; color:#333 !important; padding:4px 10px 4px 10px !important; margin:3px 0 0 0 !important;font:normal 1em Verdana, sans-serif !important;font-size:10px !important; border-width:1px 0 1px 0 !important;border-style:solid !important; border-color:#bbb #ccc #bbb #ccc !important;text-align:left !important; }
div#pieblogia a { color:#00b !important; text-decoration:underline !important; border:0; } 
div#pieblogia a:hover { background-color:#00b !important; color:#fff !important; } 
div#pieblogia img { vertical-align:bottom; } 

div.coloriurisIcon { display:inline;}
div.coloriurisIcon,div.coloriurisIcon a,div.coloriurisIcon img { margin:0 !important;padding:0 !important;border:0 !important;}
div.coloriurisIcon img { vertical-align:middle; }
div#codigotercerosblogia { width:99%;padding:0;border:1px solid #999;margin:8px 0 8px 0;overflow:auto; }

/*
    http://tuscriaturas.blogia.com/estilos.css
*/
